.scanning_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video{
    max-width: 90%;
    height: 400px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.changeCamera{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.startPredict{
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: orange;
}